<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello world</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{#if pageName}}
        <script src="static/manifest.js"></script>
        <script src="static/commons/index.js"></script>
        <script src="static/{{pageName}}/index.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var page = window['{{pageName}}/index']
                if (page.init) page.init()
            })
        </script>
        {{/if}}
    </head>

    <body>
        {{{body}}}
    </body>
</html>