<style scoped>
    .color {
        background-color: chocolate;
    }
    .color:active {
        background-color: greenyellow;
    }
    
    table {
        margin-right: auto;
        margin-left : auto;
    }
    td {
        width: 60px;
        height: 40px;
    }
    td button {
        width: 100%;
        height: 40px;
        border-radius: 0;
    }
</style>

<table>
    <tr>
        <td></td>
        <td class="color up">
            <button/>
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="color left">
            <button/>
        </td>
        <td class="color down">
            <button/>
        </td>
        <td class="color right">
            <button/>
        </td>
    </tr>
</table>

<div id="debug"></div>